@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}












.menu.active .logo {
    background-image: url("../img/logo-rodape.svg");
}

.logo {
    transition: ease-out 1s;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    float: left;
    width: 181px;
    height: 92px;
    margin: 2px 0 0 0;
    background-size: cover;
}

.menu {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    padding: 15px 0;
    border: none;
    background: #FFFFFF;
    height: 128px;
    box-shadow: 0px 4px 20px rgb(167 167 167 / 25%);
    margin: 0;
    z-index: 3;
}

.menu .container{
    padding: 0;
}

.nav ul {
    display: none;
}

.nav-tgl {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    right: 40px;
    top: -6px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    padding: 0 0;
    background: transparent;
    line-height: 0.6;
    text-align: center;
}

.menu.active .nav ul li:hover a{
    color: #9198a5;
}

.menu.active .nav ul li a{
    color: white;
}

.nav-tgl>span {
    display: inline-block;
    position: relative;
    height: 2px;
    width: 34px;
    border-radius: 1px;
    background: transparent;
    vertical-align: middle;
}

.nav-tgl>span:before, .nav-tgl>span:after {
    display: inline-block;
    position: absolute;
    content: "";
    height: 3px;
    border-radius: 1px;
    background: #303641;
    transition: all 200ms;
    transition: ease-out 0.5s;
}

.nav-tgl>span:before {
    top: -6px;
    left: 3px;
    width: 28px;
}

.nav-tgl>span:after {
    top: 7px;
    left: 6px;
    width: 22px;
}

.nav-tgl:focus {
    outline: none;
}

.nav-tgl:hover>span:after, .nav-tgl:hover>span:before {
    width: 34px;
    left: 0;
}

.nav:before {
    display: block;
    position: fixed;
    top: 0px;
    left: 0;
    content: "";
    width: 100%;
    background: #888888;
    height: 100vh;
    transition: all 500ms ease-in-out;
    clip-path: circle(30px at calc(100% - 65px) 65px);
    visibility: hidden;
    z-index: 3;
    background: url("../img/bg-chamada-lojas-internas.png") -143px;
    background-size: cover;
}

.menu.active .nav:before {
    visibility: visible;
    clip-path: circle(100%);
}

.menu.active .nav-tgl>span {
    height: 0;
}

.menu.active .nav-tgl>span:after, .menu.active .nav-tgl>span:before {
    top: 0px;
    left: 0;
    width: 34px;
    background: white;
}

.menu.active .nav-tgl>span:after {
    transform: rotate(-45deg);
}

.menu.active .nav-tgl>span:before {
    transform: rotate(45deg);
}

.menu.active .nav ul {
    display: block;
    text-align: center;
    padding: 0;
    z-index: 1;
    position: relative;
    margin: 0;
    padding-top: 33%;
    z-index: 3;
}

.menu.active .nav ul li {
    list-style: none;
    font-size: 25px;
    padding: 2% 0;
}

.menu .nav ul li {
    margin-left: -350px;
}

.menu.active .nav ul li:nth-child(1) {
    -webkit-animation: fadeIn 0.5s ease-in-out;
    -moz-animation: fadeIn 0.5s ease-in-out;
    -o-animation: fadeIn 0.5s ease-in-out;
    animation: fadeIn 0.5s ease-in-out;
    margin-left: 0px;
}

.menu.active .nav ul li:nth-child(2) {
    -webkit-animation: fadeIn 1s ease-in-out;
    -moz-animation: fadeIn 1s ease-in-out;
    -o-animation: fadeIn 1s ease-in-out;
    animation: fadeIn 1s ease-in-out;
    margin-left: 0px;
}

.menu.active .nav ul li:nth-child(3) {
    -webkit-animation: fadeIn 1.5s ease-in-out;
    -moz-animation: fadeIn 1.5s ease-in-out;
    -o-animation: fadeIn 1.5s ease-in-out;
    animation: fadeIn 1.5s ease-in-out;
    margin-left: 0px;
}

.menu.active .nav ul li:nth-child(4) {
    -webkit-animation: fadeIn 2s ease-in-out;
    -moz-animation: fadeIn 2s ease-in-out;
    -o-animation: fadeIn 2s ease-in-out;
    animation: fadeIn 2s ease-in-out;
    margin-left: 0px;
}

.menu.active .nav ul li:nth-child(5) {
    -webkit-animation: fadeIn 2s ease-in-out;
    -moz-animation: fadeIn 2s ease-in-out;
    -o-animation: fadeIn 2s ease-in-out;
    animation: fadeIn 2s ease-in-out;
    margin-left: 0px;
}

.menu .nav ul li a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    color: #303641;
    text-decoration: none;
    text-align: center;
    display: block;
}

.menu .nav ul li:hover a{
    color: #BF2226;
    font-weight: bold;
}

.menu .nav ul li:hover a:after {
    content: "";
    height: 14px;
    background: #BF2226;
    position: absolute;
    top: -54px;
    width: 100%;
    left: 0;
}

.menu .nav ul li.none-after a:after {
    display: none;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


















.sem-espaco {
    padding: 0;
    margin: 0
}
 

/* nav */

.navbar-default {
    border: none;
    background: #FFFFFF;
    height: 128px;
    box-shadow: 0px 4px 20px rgb(167 167 167 / 25%);
    margin: 0;
    z-index: 3;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    /* identical to box height */
    text-transform: uppercase;
    color: #000000;
}

.navbar-default .navbar-nav li:hover a {
    color: #BF2226;
    font-weight: bold;
}

.navbar-default .navbar-nav li:hover a:after {
    content: "";
    height: 14px;
    background: #BF2226;
    position: absolute;
    top: -43px;
    width: 100%;
    left: 0;
}

.navbar-nav {
    float: right;
    padding: 43px 0 35px 0;
}

/* banner */

.banner {
    background: url("../img/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 825px;
    margin-top: -128px;
}

.box-banner {
    z-index: 2;
    padding: 112px 0 0 0;
}

.banner .box-banner h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 0;
}

.banner .box-banner h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 70px;
    color: white;
    margin-bottom: 25px;
    margin-top: 10px;
}

.banner .box-banner button {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    width: 273px;
    height: 80px;
    background: linear-gradient(90deg, #BF2226 0%, #EC4456 137.82%);
    border-radius: 7px;
    border: none;
    outline: none;
    margin-bottom: 100px;
}

.banner .chamadas {
    z-index: 2;
    position: relative;
}

.banner .chamadas .box-chamadas {
    height: 282px;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    padding: 38px 0;
    box-shadow: 0px 4px 20px rgba(226, 226, 226, 0.25);
}

.banner .chamadas .box-chamadas.central {
    height: 331px;
    margin-top: -27px;
    padding: 60px 0;
}

.banner .chamadas .box-chamadas i.icon-qualidade {
    background: url("../img/icon-qualidade.svg") no-repeat center;
    background-size: 100%;
    width: 40px;
    height: 42px;
    margin: 0 auto;
    display: block;
}

.banner .chamadas .box-chamadas i.icon-garantia {
    background: url("../img/icon-garantia.svg") no-repeat center;
    background-size: 100%;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: block;
}

.banner .chamadas .box-chamadas i.icon-especializacao {
    background: url("../img/icon-especializacao.svg") no-repeat center;
    background-size: 100%;
    width: 40px;
    height: 42px;
    margin: 0 auto;
    display: block;
}

.banner .chamadas .box-chamadas h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #3A404A;
    text-align: center;
}

.banner .chamadas .box-chamadas p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #627086;
}

/* quem somos */

.quem-somos {
    background: #EBEBEB;
    padding-top: 320px;
    padding-bottom: 100px;
}

.quem-somos h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    text-transform: uppercase;
    color: #DB3743;
}

.quem-somos h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #3A404A;
    margin-bottom: 22px;
}

.quem-somos p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 169.19%;
    color: #627086;
    margin-bottom: 30px;
}

.quem-somos button {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background: linear-gradient(90deg, #BF2226 0%, #EC4456 137.82%);
    border-radius: 7px;
    width: 238px;
    height: 80px;
    border: none;
    outline: none;
    margin-top: 20px;
}

/***/

.nossos-servicos {
    background: #E5E5E5;
    padding-top: 100px;
    padding-bottom: 100px;
}

.nossos-servicos h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    text-transform: uppercase;
    color: #DB3743;
    text-align: center;
}

.nossos-servicos h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #3A404A;
    margin-bottom: 22px;
    text-align: center;
    margin-bottom: 77px;
}

.nossos-servicos i.icon-quebrou {
    background: url("../img/icon-quebrou.svg") no-repeat center;
    background-size: 100%;
    width: 61px;
    height: 61px;
    margin: 0 auto;
    display: block;
}

.nossos-servicos i.icon-molhou {
    background: url("../img/icon-molhou.svg") no-repeat center;
    background-size: 100%;
    width: 61px;
    height: 61px;
    margin: 0 auto;
    display: block;
}

.nossos-servicos i.icon-servicos {
    background: url("../img/icon-servicos.svg") no-repeat center;
    background-size: 100%;
    width: 61px;
    height: 61px;
    margin: 0 auto;
    display: block;
}

.nossos-servicos h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #3A404A;
    margin: 15px 0 20px 0;
}

.nossos-servicos p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 181.19%;
    text-align: center;
    color: #627086;
    margin-bottom: 35px;
}

.nossos-servicos button {
    width: 195px;
    height: 66px;
    background: #FFFFFF;
    border: 1px solid #BF2226;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #BF2226;
    outline: none;
    margin: 0 auto;
    display: block;
}

.nossos-servicos .box-nossos-servicos {
    height: 564px;
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(188, 188, 188, 0.25);
    border-radius: 7px;
    padding: 37px 0;
    margin: 30px 0;
}

.nossos-servicos .box-nossos-servicos.principal {
    height: 626px;
    background: linear-gradient(0deg, #BF2226 -6.38%, #EC4456 103.9%);
    box-shadow: 0px 4px 50px rgba(188, 188, 188, 0.25);
    border-radius: 7px;
    padding: 71px 0;
    margin-top: 0;
    background: url(../img/bg-vermelho.png) center;
    background-size: 575px;
}

.nossos-servicos .box-nossos-servicos.principal h4 {
    color: #FFFFFF;
}

.nossos-servicos .box-nossos-servicos.principal p {
    color: #FFFFFF;
}

.nossos-servicos .box-left {
    padding: 10px;
}

.nossos-servicos .box-center {
    padding: 10px;
}

.nossos-servicos .box-right {
    padding: 10px;
}

.nossos-servicos .box-right .box-nossos-servicos p {
    margin-bottom: 107px;
}

/***/

.informacoes-servicos {
    background: url("../img/bg-informacoes-servicos.png") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    display: block;
    padding: 100px 0;
}

.informacoes-servicos .box-right, .informacoes-servicos .box-center, .informacoes-servicos .box-left {
    padding: 35px 0;
}

.informacoes-servicos .box-right h2, .informacoes-servicos .box-center h2, .informacoes-servicos .box-left h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 59px;
    /* identical to box height */
    text-align: center;
    color: #ECE21B;
    margin: 0 0 15px 0;
}

.informacoes-servicos .box-right p, .informacoes-servicos .box-center p, .informacoes-servicos .box-left p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 122.19%;
    /* or 31px */
    text-align: center;
    color: #FFFFFF;
}

.informacoes-servicos .box-center {
    border-left: 1px solid #404959;
    border-right: 1px solid #404959;
}

/****/

.marcas {
    background: #E5E5E5;
    padding: 70px 0 98px 0;
    height: 500px;
}

.marcas .slick-dots li button:before {
    display: none;
}

.marcas .slick-dots li {
    margin: 0;
}

.marcas .slick-dots li button {
    color: #C4C4C4;
    background: #C4C4C4;
    width: 11px;
    height: 11px;
    padding: 0;
    margin: 0 auto;
    border-radius: 30px;
}

.marcas .slick-dots .slick-active button {
    color: #BF2226;
    background: #BF2226;
}

.marcas .slick-dots {
    bottom: -60px;
}

/***/

.contato-home {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgb(165 165 165 / 25%);
    border-radius: 8px;
    height: 415px;
    margin-top: -215px;
}

.contato-home i {
    background: url("../img/icon-contato-home.svg");
    width: 75px;
    height: 75px;
    margin: 0 auto;
    display: block;
    margin-top: 45px;
}

.contato-home h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    color: #3A404A;
}

.contato-home h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #BF2226;
    margin-bottom: 30px;
}

.contato-home button {
    background: linear-gradient(90deg, #BF2226 0%, #EC4456 137.82%);
    border-radius: 7px;
    width: 238px;
    height: 80px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    border: none;
    outline: none;
    margin: 0 auto;
    display: block;
}

/***/

.bg-rodape {
    background: #1A1F26;
    height: 689px;
    margin-top: -274px;
    position: relative;
    padding-top: 360px;
}

.bg-rodape img {
    margin-top: 50px;
}

.bg-rodape .menu-rodape.border {
    border-left: 1px solid #475261;
    border-right: 1px solid #475261;
    padding-right: 15px;
    padding-left: 23px;
    padding-bottom: 53px;
}

.bg-rodape .menu-rodape h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 0;
}

.bg-rodape .menu-rodape ul {
    padding: 0;
}

.bg-rodape .menu-rodape ul li {
    list-style: none;
}

.bg-rodape .menu-rodape ul li a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
}

.info-rodape {
    padding: 0 52px;
}

.info-rodape h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 0;
}

.info-rodape ul.box-info-rodape {
    padding: 0;
}

.info-rodape ul.box-info-rodape li {
    list-style: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
}

.info-rodape ul.box-info-rodape li b {
    font-weight: 700;
}

.info-rodape ul.rodape-redes-sociais {
    padding: 0;
}

.info-rodape ul.rodape-redes-sociais li {
    list-style: none;
    float: left;
    margin: 20px 30px 0 0;
}

.info-rodape ul.rodape-redes-sociais li a i.icon-instagram {
    background: url("../img/icon-instagram.svg");
    width: 33px;
    height: 33px;
    display: block;
    margin: 0 auto;
}

.info-rodape ul.rodape-redes-sociais li a i.icon-linkedin {
    background: url("../img/icon-linkedin.svg");
    width: 33px;
    height: 33px;
    display: block;
    margin: 0 auto;
}

.info-rodape ul.rodape-redes-sociais li a i.icon-twitter {
    background: url("../img/icon-twitter.svg");
    width: 33px;
    height: 33px;
    display: block;
    margin: 0 auto;
}

.info-rodape ul.rodape-redes-sociais li a i.icon-facebook {
    background: url("../img/icon-facebook.svg");
    width: 33px;
    height: 33px;
    display: block;
    margin: 0 auto;
}

/**/

select {
    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* banner interna*/

.banner-interna {
    background: url("../img/quem-somos-interna.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 435px;
    margin-top: -128px;
}

.box-banner-interna {
    z-index: 2;
    padding: 112px 0 0 0;
}

.banner-interna .box-banner-interna h1 {
    text-transform: uppercase;
    margin-bottom: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}

/***/

.icon-whatsapp.ativo{
    bottom: 250px;
}

.icon-whatsapp{
    background-image: url("data:image/svg+xml,%3Csvg width='87' height='87' viewBox='0 0 87 87' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='43.5' cy='43.5' r='41.5' fill='url(%23paint0_linear)' stroke='white' stroke-width='4'/%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M23 62.9995C24.0068 59.9969 24.8668 57.2319 25.8758 54.5212C26.3431 53.2654 26.2731 52.2608 25.6907 51.0231C22.4605 44.1377 22.9345 37.388 27.3544 31.2335C31.8713 24.9432 38.2303 22.2234 45.9368 23.1896C55.2483 24.3571 62.3341 31.9711 62.9571 41.2233C63.5711 50.3465 57.6682 58.7547 48.8014 61.2821C43.9865 62.6556 39.2889 62.2279 34.7246 60.1259C34.1851 59.877 33.4154 59.8385 32.8397 60.006C29.9549 60.8454 27.0993 61.7867 24.2325 62.6873C23.9187 62.7868 23.5959 62.8502 23 62.9995ZM27.921 58.2207C29.8668 57.6166 31.5237 57.1527 33.1445 56.5757C33.8871 56.3132 34.4447 56.3721 35.1422 56.7545C40.2054 59.5308 45.3883 59.7254 50.6027 57.2183C58.0203 53.6546 61.6501 44.9545 58.9662 37.3111C56.1603 29.3238 47.9097 24.6377 39.8623 26.4615C28.5056 29.0341 23.2957 41.6283 29.4786 51.5028C29.7246 51.8965 29.772 52.564 29.6411 53.0233C29.1625 54.6796 28.5689 56.2974 27.921 58.2207Z' fill='white'/%3E%3Cpath d='M37.1332 33.6527C38.0655 33.4649 38.5553 33.9311 38.8601 34.7343C39.1806 35.5783 39.4583 36.4562 39.9052 37.2301C40.5215 38.3026 40.3454 39.1873 39.4853 39.9498C38.623 40.7124 38.7201 41.4048 39.3431 42.2804C40.8443 44.387 42.7156 45.9958 45.1016 47.023C45.8149 47.3285 46.2686 47.2086 46.7698 46.6474C48.5508 44.6585 48.5666 44.6721 51.0136 45.8193C51.2867 45.946 51.5598 46.0727 51.8262 46.2107C53.5282 47.0796 53.7901 48.797 52.3725 50.1433C51.009 51.4376 49.3928 51.9919 47.5079 51.5665C41.3318 50.175 37.1445 46.3058 34.3657 40.7916C33.2573 38.5945 33.4673 36.3703 35.1941 34.4967C35.6569 33.9944 36.395 33.7455 37.0068 33.3812C37.0497 33.4717 37.0903 33.5622 37.1332 33.6527Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='43.5' y1='4' x2='43.5' y2='83' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2340B857'/%3E%3Cstop offset='1' stop-color='%2335A74B'/%3E%3C/linearGradient%3E%3CclipPath id='clip0'%3E%3Crect width='40' height='40' fill='white' transform='translate(23 23)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-position: center;
    width: 87px;
    height: 87px;
    position: fixed;
    bottom: 50px;
    right: 156px;
    animation: fadeIn 5s;
    transition: 2s;
    cursor: pointer;
}

.icon-whatsapp .box{
    background-image: url("data:image/svg+xml,%3Csvg width='299' height='185' viewBox='0 0 299 185' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 23C15 19.134 18.134 16 22 16H272C275.866 16 279 19.134 279 23V177C279 180.866 275.866 184 272 184H22C18.134 184 15 180.866 15 177V23Z' fill='white'/%3E%3Cmask id='mask0' mask-type='alpha' maskUnits='userSpaceOnUse' x='15' y='16' width='264' height='145'%3E%3Cpath d='M15 23C15 19.134 18.134 16 22 16H272C275.866 16 279 19.134 279 23V154C279 157.866 275.866 161 272 161H22C18.134 161 15 157.866 15 154V23Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0)'%3E%3Crect x='-0.0166859' y='3.7991' width='72.2764' height='133.497' rx='36.1382' transform='matrix(0.646781 0.762676 -0.653455 0.756965 265.978 105.761)' stroke='%23E0E0E0' stroke-opacity='0.3' stroke-width='5'/%3E%3Crect x='-0.0166859' y='3.7991' width='72.2764' height='137.831' rx='36.1382' transform='matrix(0.646781 0.762676 -0.653455 0.756965 81.81 -92.9265)' stroke='%23E0E0E0' stroke-opacity='0.3' stroke-width='5'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    width: 304px;
    height: 207px;
    position: absolute;
    margin: 92px 0 0 -112px;
    background-position: center;
    display: none;
}

.icon-whatsapp.ativo .box {
    display: block;
}

.icon-whatsapp .box h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #3A404A;
    margin: 72px 0 37px 0;
}

.icon-whatsapp .box h3 span{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    color: #40B857;
}

.icon-whatsapp .box a{
    width: 179px;
    height: 52px;
    background: #3FB656;
    border-radius: 7px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    border: none;
    outline: none;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding: 16px 0;
    transition: 0.5s;
}
.icon-whatsapp .box a:hover{
background: #369047;
}



@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}